.quiz-card {
    .reveal-on-hover {
      opacity: 0;
      transition: opacity 0.3s ease;
    }
  
    &:hover {
      .reveal-on-hover {
        opacity: 1;
      }
    }
  }
  .explanation-button {
    color:  #00ff00;
    border-color: #28a745;
  }
  
  .explanation-button:hover {
    color:  #00ff00;
    border-color: #1ED760;
    background-color: transparent;
  }
  
  .custom-loader {
    display: flex;
    align-items: center;
  }
  
  .loader-circle {
    width: 20px;
    height: 20px;
    border: 2px solid #f3f3f3;
    border-top: 2px solid #28a745;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
  .loader-text {
    margin-left: 10px;
    font-size: 14px;
    color:  #00ff00;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .neon-green-button {
    color: #00ff00;
    border-color: #00ff00;
    background-color: transparent;
  }
  
  .neon-green-button:hover {
    color: #ffffff;
    background-color: #00ff00;
  }
  
  .neon-green-text {
    color: #00ff00;
  }