.technologies-container {
  background-color: #000;
}

.full-width-image-container {
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.text-purple {
  color: #7055FF;
}

img {
  max-width: 100%;
  height: auto;
}
